@model ChatApp.Models.ErrorViewModel

<div class="text-danger">
    <h1 class="display-4">Error</h1>
    <p>Request ID: <code>@Model.RequestId</code></p>
    <p>Show Request ID: <code>@Model.ShowRequestId</code></p>
</div>
